* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HoloLens MDL2 Assets", monospace;
}
header {
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: white;
    padding: 1vw 0;
    position: fixed;
    z-index: 100;
    min-height: 9vw;
}
header > .header_blocker {
    position: absolute;
    left: 0;
    top: 5vw;
    background-color: black;
    min-width: 100vw;
    min-height: 4vw;
    z-index: auto;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}
header > a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 1vw;
    padding-right: 1.5vw;
}
header > a:hover {
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
}
header > a:last-child{
    border-right:none;
}
header > a:first-child {
    left: 0;
}
header > a:visited {
    color: black;
}

body {
    width: 100vw;
    height: 100%;
    font-family: "Play", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}
.create_user_redirection{
    background: transparent;
    padding: 0.5vw 1.5vw;
    border: 3px solid white;
    color: white;
    font-size: 1.75vw;
    text-decoration: none;
    text-transform: uppercase;
}
.currentAccount{
    margin-top: 10vw;
    font-size: 2vw;
}
.topUpForm {
    margin-top: -5vw;
}